.recipeCard {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.recipeInstructions {
  max-height: 300px;
  overflow-y: scroll;
  background-color: #ddbea9;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .recipeCard {
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }

  .recipeCard img {
    height: 35vh;
    width: 90vw;
    max-width: 500px;
  }

  .recipeInstructions {
    height: 35vh;
  }
}
