* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  width: 90vw;
  max-width: 700px;
  max-height: 80px;
  min-height: 80px;
  overflow-y: scroll;
  font-size: 2em;
  text-align: center;
  border: 2px solid black;
  margin-inline: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  height: fit-content;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 

@media screen and (max-width: 1000px) {
}
